.eventos-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.evento.card{
    border: 2px solid #00d4ff;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
}
.evento-card{
    border: 2px solid #00d4ff;
    box-shadow:  0 0 12px rgba(66, 255, 154, 0.81);
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.evento-card:hover{
    color: black;
    border: 2px solid #00d4ff;
    border-radius: 10px;
    background-color: rgb(253, 217, 0);
    box-shadow: 0 0 12px rgba(255, 232, 66, 0.81)
}
.btn-comprar{
    color: white;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #00d4ff;
    box-shadow:  0 0 12px rgba(66, 255, 154, 0.81);
}
.btn-comprar:hover{
    color: black;
    background-color:#00d4ff ;
    box-shadow:  0 0 12px rgba(66, 255, 154, 0.81);
}
.evento-card h3.evento-card p{
    display: block;
    margin: 8px 0;
}